/* About Section */
#about {
  .about-container {
    margin: 0 auto;
  }
}

/* Dark Mode */
body.dark-mode #about {
  .about-container {
    h2 {
      color: var(--color-text-dark);
    }

    .about-text p {
      color: var(--color-text-dark);
    }
  }
}
