<header role="banner">
  <div class="logo" aria-label="Developer Portfolio Logo" tabindex="0">SŠ</div>

  <nav class="desktop-menu" role="navigation" aria-label="Primary Navigation">
    <a href="#intro" tabindex="0">Intro</a>
    <a href="#timeline-section?tab=projects" tabindex="0">Projects</a>
    <a href="#timeline-section?tab=experience" tabindex="0">Experience</a>
    <a href="#contact" tabindex="0">Contact</a>
    <button id="lang-toggle" aria-label="Toggle language">ES</button>
  </nav>

  <button
    id="menu-toggle"
    aria-label="Toggle menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <div></div>
    <div></div>
    <div></div>
  </button>

  <nav
    id="mobile-menu"
    class="mobile-menu"
    role="navigation"
    aria-label="Mobile Navigation"
    aria-hidden="true"
  >
    <a href="#intro">Intro</a>
    <a href="#timeline-section?tab=projects">Projects</a>
    <a href="#timeline-section?tab=experience">Experience</a>
    <a href="#contact">Contact</a>
    <button id="lang-toggle-mobile" aria-label="Toggle language">ES</button>
  </nav>
</header>
