<section id="timeline-section">
  <h2>Timeline</h2>
  <div class="tabs">
    <button class="tab-btn active" data-target="projects-timeline">
      Projects
    </button>
    <button class="tab-btn" data-target="experience-timeline">
      Experience
    </button>
  </div>

  <div class="timeline-content">
    <!-- Projects Timeline -->
    <div id="projects-timeline" class="timeline active">
      <!--  <div class="timeline-item">
        <div class="timeline-date"></div>
        <div class="timeline-content-card">
          <h3>KOH-I-NOOR</h3>
          <p>Český výrobce psacích a výtvarných potřeb</p>
          <a href="https://www.kohinoordeutschland.de" target="_blank"
            >kohinoordeutschland.de</a
          >
        </div>
      </div> -->
      <div class="timeline-item">
        <div class="timeline-date"></div>
        <div class="timeline-content-card">
          <h3>MCLED S.R.O.</h3>
          <p>Inovativní LED osvětlení pro váš domov a podnikání</p>
          <a href="https://www.mcled.cz" target="_blank">McLED.cz</a>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date"></div>
        <div class="timeline-content-card">
          <h3>DIGOSS s.r.o.</h3>
          <p>KOMPLEXNÍ ÚKLIDOVÉ SLUŽBY</p>
          <a href="http://digoss.cz" target="_blank">Digoss.cz</a>
        </div>
      </div>
    </div>

    <!-- Experience Timeline -->
    <div id="experience-timeline" class="timeline">
      <div class="timeline-item">
        <div class="timeline-date">2020</div>
        <div class="timeline-content-card">
          <h3>Code 8</h3>
          <p>Frontend development, Project management, IT support</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date">2018 - 2020</div>
        <div class="timeline-content-card">
          <h3>WEBMASTER - MCLED S.R.O.</h3>
          <p>
            Frontend development, IT administrace & správa webu, Grafické & Foto
            práce, CRM, EDI.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date">2017 - 2018</div>
        <div class="timeline-content-card">
          <h3>WEB DESIGNER, GRAPHIC DESIGNER, KODÉR - KRISTIÁN SPOL. S R.O.</h3>
          <p>
            Grafické práce, Kódování webů, animace, videa a produktová
            fotografie.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date">2017 - 2018</div>
        <div class="timeline-content-card">
          <h3>IT AKADEMIE STEP PRAHA</h3>
          <p>
            Vývoj a tvorba webových stránek (XHTML, HTML5, CSS3, Javascript,
            jQuery, PHP, MySQL, SEO)
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date">2016</div>
        <div class="timeline-content-card">
          <h3>NICOM, A.S.</h3>
          <p>
            Pracovník grafického studia (Adobe produkty) – rekvalifikační kurz
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date">2010 - 2014</div>
        <div class="timeline-content-card">
          <h3>
            STŘEDNÍ ODBORNÁ ŠKOLA MULTIMEDIÁLNÍ A PROPAGAČNÍ TVORBY S.R.O.
          </h3>
          <p>
            Filmová a animační tvorba (Filmová tvorba, Animace 2D, 3D, Grafický
            Design, Fotografie)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
