<section id="intro" tabindex="-1" aria-label="Introduction">
  <div class="intro-text">
    <h1>Sebastian Šanda</h1>
    <h3>Web Developer specializing in modern scalable web apps</h3>
    <p>
      Passionate about building performant and accessible websites that bring
      ideas to life. Experienced in JavaScript, React, Node.js, and CSS.
    </p>

    <div id="fun-shapes">
      <div class="shape circle"></div>
      <div class="shape square"></div>
      <div class="shape triangle"></div>
    </div>
  </div>
  <div class="intro-img" aria-label="Portrait of Sebastian Šanda" role="img">
    <img
      src="./assets/images/profile.webp"
      alt="Sebastian Šanda"
      width="220"
      height="220"
    />
  </div>
</section>
