.project-content {
  .project-title-wrapper {
    margin-bottom: 2rem;
    width: 100%;
  }

  .project-hero {
    align-items: center;
    display: flex;
    height: 25vh;
    justify-content: center;
    margin-bottom: 2.5rem;
    max-height: 280px;
    overflow: hidden;
    position: relative;

    // Ensure the animated background fills this container
    #showAnimation {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .project-info {
    // Hide the first h1 since we're showing it with decrypted effect
    > h1:first-child {
      display: none;
    }

    h1 {
      margin-bottom: 2rem;
    }

    h2,
    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    a {
      color: inherit;
    }

    .row {
      &:not(:last-child) {
        margin-bottom: 3.1rem;
      }
    }
  }
}
