.project-content {
  .project-hero {
    position: relative;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    overflow: hidden;

    // Ensure the animated background fills this container
    #showAnimation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .project-info {
    h1 {
      margin-bottom: 2rem;
    }

    h2,
    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    a {
      color: inherit;
    }

    .row {
      &:not(:last-child) {
        margin-bottom: 3.1rem;
      }
    }
  }
}
